@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;600&display=swap');

.about {
  position: relative;
  top: 90px;
  /* background-color: #1b1b1b; */
  background-color: #141414;
  height: 200vh;
  width: 100vw;
  padding: 80px;
  text-align: center;
}

.titleAbout {
  padding-top: 100px;
  padding-bottom: 20px;
  color: #F5F5F5;
  font-family: Bebas Neue;
  font-size: 65px;
  width: 100%;
}

.text-about {
  text-align: justify;
  font-family: Open Sans;
  color: #F5F5F5;
  font-size: 30px;
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

/* .skills {
  display: flex;
  flex-wrap: wrap;
  justify-self:flex-start
} */

.skills img {
  padding: 10px;
  height: 75px;
  width: 75px;
}

::-webkit-scrollbar {
  background-color: #1b1b1b;
  display: block;
  width: 8px;
  overflow: auto;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #F5F5F5;
  border-radius: 5px;
}

ul {
  list-style: none;
}

ul li {
  text-align: left;
  margin-bottom: 20px;
}

.list-about {
  text-align: center;
}

/* 320px — 480px: dispositivos móveis */
@media (max-width: 480px) {
  .about {
    padding: 0px;
    top: 60px;
    left: 0;
    height: 420vh;
    width: 100vw;
  }

  .titleAbout {
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .text-about {
    font-size: 18px;
    padding: 25px;
  }

  .skills img {
    padding: 2px;
    height: 50px;
    width: 50px;
  }
}
