@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

#contact {
    position: relative;
    top: 90px;
    background-color: #141414;
    color: white;
    min-height: 100vh;
    max-height: fit-content;
    max-width: 100%;
    padding: 80px;
    text-align: center;
}

.img-contact {
    margin-right: 40px;
    margin-top: 30px;
    height: 100px;
    width: 100px;
}

#title-contact {
    padding-top: 70px;
    padding-bottom: 30px;
    color: #F5F5F5;
    font-family: Bebas Neue;
    font-size: 65px;
}

#third-avatar {
    margin-top: 90px;
}

#third-avatar img {
    height: 550px;
    width: 550px;
}

/* 320px — 480px: dispositivos móveis */
@media (max-width: 480px) {
    #contact {
      padding: 0px;
      top: 60px;
      left: 0;
    }

    #title-contact {
        font-size: 35px;
        padding-top: 50px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .img-contact {
        margin-right: 10px;
        margin-top: 30px;
        height: 50px;
        width: 50px;
    }

    #third-avatar img {
        width: 250px;
        height: 250px;
    }

    #third-avatar {
        margin-top: -0%;
    }
}

/* 481px — 768px: iPads, tablets */
@media (max-width: 768px) {
    #contact {
      padding: 0px;
      top: 60px;
      left: 0;
    }

    #title-contact {
        font-size: 45px;
        padding-top: 50px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .img-contact {
        margin-right: 10px;
        margin-top: 30px;
        height: 60px;
        width: 60px;
    }

    #third-avatar img {
        width: 350px;
        height: 350px;
    }

    #third-avatar {
        margin-top: 18%;
    }
}

/* 769px — 1024px: telas pequenas, laptops */
@media (max-width: 1024px) {
    #contact {
      padding: 0px;
      top: 80px;
      left: 0;
    }

    #title-contact {
        font-size: 50px;
        padding-top: 50px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .img-contact {
        margin-right: 10px;
        margin-top: 30px;
        height: 70px;
        width: 70px;
    }

    #third-avatar img {
        width: 450px;
        height: 450px;
    }

    #third-avatar {
        margin-top: 18%;
    }
}