@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

footer {
  position: relative;
  top: 90%;
  height: 30px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding: 30px;
  text-align: center;
  bottom: 0;
  background-image: radial-gradient( circle 911px at 0.4% 50.5%,  #491B1D 18.7%, #310A0B 90% );
}

#text-footer {
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  color: #cccccc;
}

#name-footer {
  color: #F5F5F5;
  font-family: Bebas Neue;
  font-size: 25px;
  animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
}


@keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-moz-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-webkit-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

/* 320px — 480px: dispositivos móveis */
@media (max-width: 480px) {
  footer {
    padding: 0px;
  }

  #text-footer {
    font-size: 15px;
  }

  #name-footer {
    font-size: 18px;
  }
}

/* 481px — 768px: iPads, tablets */
@media (max-width: 768px) {
  footer {
    padding: 0px;
  }
}

/* 769px — 1024px: telas pequenas, laptops */
@media (max-width: 1024px) {
  footer {
    padding: 0px;
  }
}
