@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 90px;
  background-color: #1b1b1b;
  height: 180px;
  width: 100%;
  padding: 80px;
  text-align: center;
  font-weight: bold;
}

.name {
  margin-bottom: 20px;
  font-family: Bebas Neue;
  font-size: 50px;
  color: #F5F5F5;
}

.description {
  margin-bottom: 25px;
}

.imgFooter {
  margin-right: 40px;
}

.social {
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  margin-top: 20px;
  color: #cccccc;
}

