@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 90px;
  background-color: #1b1b1b;
  height: 10px;
  width: 105%;
  padding: 35px;
  text-align: center;
  font-weight: bold;
  bottom: 0;
}

.description {
  margin-bottom: 25px;
}

.imgFooter {
  margin-right: 40px;
  margin-top: 30px;
  height: 60px;
  width: 60px;
}

.social {
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  color: #cccccc;
}

