@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400&display=swap');

.Header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  max-width: 100%;
  background-color: #0c0d11;
  padding: 15px;
};

.link {
  margin: 5px;
}

.titleHeader {
  color: #c4c2bf;
  font-family: Bebas Neue;
  font-size: 50px;
}

.titleHeader:hover {
  animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
}

@keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-moz-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-webkit-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

.linkHeader {
  text-decoration: none;
}

.btn-header {
  margin: 10px;
  height: 60px;
  width: 80px;
  background-color: #161B23;
  font-weight: bold;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c4c2bf;
}

.btn-header:hover {
  outline: 3px solid #f74a18;
}

.icons-header {
  width: 35px;
  margin-bottom: 3px;
}

.link-rout {
  text-decoration: none;
}

/* 320px — 480px: dispositivos móveis */
@media (max-width: 480px) {
  .Header {
    padding: 0px;
  }

  .imgHeader {
    display: none;
  }

  .titleHeader {
    display: none;
  }

  .linkHeader {
    font-size: 12px;
    margin-right: 5px;
    padding: 10px;
  }

  .icons-header {
    display: none;
  }
}

/* 481px — 768px: iPads, tablets */
@media (max-width: 768px) {
  .Header {
    padding: 0px;
  }

  .imgHeader {
    display: none;
  }  

  .titleHeader {
    display: none;
  }

  .linkHeader {
    font-size: 15px;
    margin-right: 5px;
    padding: 10px;
  }

  .icons-header {
    width: 25px;
  }
}

/* 769px — 1024px: telas pequenas, laptops */
@media (max-width: 1024px) {
  .Header {
    padding: 10px;
  }

  .titleHeader {
    display: none;
  }

  .linkHeader {
    margin-right: 5px;
    padding: 10px;
  }
}