@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

.home {
  position: relative;
  top: 90px;
  background-color: #0e141b;
  color: #c4c2bf;
  min-height: 100vh;
  max-height: fit-content;
  max-width: 100%;
  padding: 80px;
  text-align: center;
}

.titleHome {
  color: #c4c2bf;
  font-family: Bebas Neue;
  font-size: 120px;
}

.hand-home {
  width: 100px;
}

#name-home {
  color: #e8310e;
}

#content-home {
  padding: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#avatar-home {
  height: 550px;
  width: 550px;
}

/* 320px — 480px: dispositivos móveis */
@media (max-width: 480px) {
  .home {
    padding: 0px;
    top: 60px;
    left: 0;
  }

  #content-home {
    margin-right: 0;
  }

  .titleHome {
    font-size: 35px;
  }

  .hand-home {
    width: 40px;
  }

  .text-dinamic {
    display: none;
  }

  #avatar-home {
    width: 250px;
    height: 250px;
  }

  #content-avatar {
    margin-left: 0%;
    margin-top: -8%;
  }
}

/* 481px — 768px: iPads, tablets */
@media (max-width: 768px) {
  .home {
    padding: 0px;
    top: 60px;
    left: 0;
    right: 0;
  }

  #content-home {
    margin-right: 0;
  }

  .titleHome {
    font-size: 55px;
  }

  .hand-home {
    width: 50px;
  }

  .text-dinamic {
    display: none;
  }

  #avatar-home {
    width: 350px;
    height: 350px;
  }

  #content-avatar {
    margin-left: 0%;
    margin-top: 8%;
  }
}

/* 769px — 1024px: telas pequenas, laptops */
@media (max-width: 1024px) {
  .home {
    padding: 0px;
    top: 80px;
    left: 0;
    right: 0;
  }

  #content-home {
    margin-right: 0;
  }

  .titleHome {
    font-size: 85px;
  }

  .hand-home {
    width: 75px;
  }

  .text-dinamic {
    display: none;
  }

  #avatar-home {
    width: 450px;
    height: 450px;
  }

  #content-avatar {
    margin-left: 0%;
    margin-top: 5%;
  }
}