@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

.home {
  position: relative;
  top: 90px;
  background-color: #141414;
  color: white;
  /* height: 638px; */
  height: 100vh;
  width: 100vw;
  padding: 80px;
  text-align: center;
}

.titleHome {
  padding-top: 25%;
  padding-bottom: 30px;
  color: #F5F5F5;
  font-family: Bebas Neue;
  font-size: 120px;
}

#content-home {
  margin-right: 50%;
}

#content-avatar {
  margin-left: 50%;
  margin-top: -25%;
}

.hand-home {
  width: 100px;
}

.text-dinamic .static {
  margin-right: 500px;
  margin-bottom: -85px;
  color: #808080;
}

.text-dinamic {
  padding-bottom: 40px;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 65px;
  color: #F5F5F5;
  font-weight: bold;
  text-align: center;
}

.dinamic {
  line-height: 90px;
  height: 90px;
  overflow: hidden;
  margin-left: 250px;
}

.dinamic li {
  color: #cc0000;
  list-style: none;
  left: 0;
  position: relative;
  top: 0px;
  animation: slide 6s steps(4) infinite;
  margin-left: 250px;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dinamic li span {
  position: relative;
}

.dinamic li span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-left: 4px solid #cc0000;
  animation: typing 1.5s steps(10) infinite;
  background: #141414;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

#avatar-home {
  height: 550px;
  width: 550px;
}