.newBranding {
    /* Preto */
    color: #000408;

    /* Roxo */
    color: #21094C, #3F1555, #5E1498, #B604DC;

    /* Verde */
    color: #E7E264, #C2BF03, #F0EC75, #F4F51C, #6BDA3B, #BFDB07, #E2D90E, #EAE63B, #D9EC74, #A1BE34, #D9E266, #9BED58;

    /* Marron */
    color: #DFB692, #E8D6C6;
}