@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400&display=swap");

.projects {
  position: relative;
  top: 90px;
  background-color: #0e141b;
  min-height: 100vh;
  max-height: fit-content;
  max-width: 100%;
  padding: 80px;
  text-align: center;
}

#btn-filter {
  display: inline-block;
}

.btn {
  color: #fdc8ab;
  background-color: #e77757;
  padding: 10px 20px;
  font-weight: bold;
  font-family: Bebas Neue;
  font-size: 25px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 5px 5px 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-tag:hover {
  background-color: #e8310e;
  font-weight: 700;
}

.btn-tag-active {
  background-color: #c8220d;
  color: white;
  font-weight: 700;
  outline: 4px solid #920a0a;
}

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 250px;
  height: 340px;
  margin-top: 18px;
  margin-right: 18px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.side-project-card {
  animation: pulsecolor 6s infinite;
}

@keyframes pulsecolor {
  0% {
    background:#e77757;
  }
  17% {
    background: #d25430;
  }
  34% {
    background:#ef6b20;
  }
  51% {
    background: #e05116;
  }
  68% {
    background:#f74a18;
  }
  85% {
    background:#e8310e;
  }
  100% {
    background:#c1210d;
  }
}

.side-project-card:hover {
  outline: 4px solid #ff0000;
}

.side-project-card button {
  background-color: #d25430;
}

.side-project-card button:hover {
  background-color: #e08557;
}

.all-cards {
  background-color: #161b23;
}

.all-cards:hover {
  outline: 4px solid #f74a18;
}

.h1Project {
  color: #c4c2bf;
  font-family: Bebas Neue;
  font-size: 60px;
  /* margin-bottom: 55px; */
}

.pProject {
  text-align: center;
  font-family: Open Sans;
  color: #c4c2bf;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}

.buttonProject {
  color: #0c0d11;
  font-family: Bebas Neue;
  font-size: 20px;
  text-align: center;
  width: 44px;
  height: 36px;
  border: solid transparent;
  border-radius: 5px;
  background-color: #2d3138;
  margin-top: 14px;
  margin-right: 5px;
}

.buttonProject:hover {
  background-color: #47505d;
}

.titleProject {
  color: #c4c2bf;
  font-family: Bebas Neue;
  font-size: 31px;
}
/* titulo de 24px ou 36px e texto de 16px ou 18px */
/* 320px — 480px: dispositivos móveis */
@media (max-width: 480px) {
  .projects {
    padding: 0px;
    top: 60px;
    left: 0;
    /* height: 2210vh;
    width: 100vw;
    max-width: 100%; */
  }

  .h1Project {
    font-size: 24px;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .project-list {
    align-items: center;
    justify-content: center;
  }
}

/* 481px — 768px: iPads, tablets */
@media (max-width: 768px) {
  .projects {
    padding: 0px;
    top: 60px;
    left: 0;
    /* height: 710vh;
    width: 100vw;
    max-width: 100%; */
  }

  .h1Project {
    font-size: 24px;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .project-list {
    align-items: center;
    justify-content: center;
    padding-left: 5px;
  }
}

/* 769px — 1024px: telas pequenas, laptops */
@media (max-width: 1024px) {
  .projects {
    padding: 0px;
    top: 80px;
    left: 0;
    /* height: 370vh;
    width: 100vw;
    max-width: 100%; */
  }

  .h1Project {
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .project-list {
    align-items: center;
    justify-content: center;
    padding-left: 5px;
  }
}
